# Python
__pycache__/
*.pyc
*.pyo
*.pkl

# Virtual Environment
.venv/
venv/

# Environment Variables
.env

# Database
*.db
instance/

# React
node_modules/
build/

# VS Code
.vscode/

# Logs
*.log